.navbar{
  background-color:white;
  backface-visibility: 0.7%;
  color: black;
  font-weight: bold;
}
.liover:hover{
 color: 	#ffc107;
  cursor: pointer; 
  
}
.nav-link{
  color: black;
}
.carousel-caption{
padding-bottom: 18.25em;

}
.carousel-caption h1{
  font-size:80px;
}
.carousel-caption h6{
  padding-top: 2%;
  padding-bottom:3%;
}
.button{
  height: 50%;
  width: 50%;
}
.in{
  background-image:url(H3-Parallax-1.jpg) ;
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  text-align: center;
  color: aliceblue;
}
.in h1{
   padding-top: 200px;
   font-size: 40px;
}
/*  */
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* The expanding image container */
/* .container {
  position: relative;
  display: none;
} */

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.im{
  background-image:url(H3-Tab-Image-2-1.jpg) ;
  height: 40vh;
  width: 100%;
  /* background-opacity: 0.3; */
  background-size: cover;
 /* background-attachment: fixed; */
  align-items: center;
  text-align: center;
  color:#ffc107;
}
.im h3{
font-family: bold;
  padding-top: 45%;
}