.lihover:hover{
    background-color: #ffc107;
    cursor: pointer;
 
}
.lihover1:hover{
    background-color:	#161c2d;
    cursor: pointer;
}
.span-title + span {
    display: block;
    padding-left: 90px;
    opacity: 0.8;}
    
    .about-me-info {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
 